*{
     margin: 0;
     padding: 0;
}
a,a:hover{
     text-decoration: none;
}
.button-style{
     width: fit-content;
     padding: 5px;
     background: #162029;
     border-radius: 34px;
}
.button-style .b-text{
     position: relative;
     width: auto;
     height: 26px;
     top: 20px;
     left: 30px;

     font-family: 'Assistant';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 26px;
     text-align: center;
     color: #FFFFFF;
     z-index: 3;

}
.button-style .button-nest{
     position: relative;
     width: 83px;
     height: 60px;
     right: 15px;
     background: #FF4917;
     border-radius: 34px;
     z-index: 2;
}

.header{
     width: 1920px;
     height: 130px;
     background: #FFFFFF;
     display: flex;
}
.header .triangle{
     width: 0; 
     height: 0; 
     border-top: 330px solid #FF4917;;
     border-right: 330px solid transparent;
}
.header-item{
     display: flex;
     justify-content: center;
     align-items: center;
}
.header .brand{
     font-size: 35px;
     line-height: 46px;
     /* identical to box height */
     text-align: center;
     text-transform: uppercase;
     color: #FF4917;

}
.header .header-item ul{
     list-style-type: none;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 3rem;
     margin-top: 15px;
}
.header .header-item ul li{
     margin-right:5rem;
}
/*
.carousel-item{
     background-image: url(/image/banner-1.jpg);
     background-size: cover;
     height: 800px;
     background-repeat: no-repeat;
}
*/
.triangle-1,.triangle-2, .triangle-3{
     position: absolute;
     left: 0px;
     top:130px;
     width: 0; 
     height: 0; 
     border-top: 400px solid rgba(255, 73, 23, 0.5); 
     border-right: 400px solid transparent;
     z-index: 2;

}
.triangle-2{
     border-top: 300px solid rgba(255, 73, 23, 0.5); 
     border-right: 300px solid transparent;
}
.triangle-3{
     border-top: 200px solid rgba(255, 73, 23, 0.6); 
     border-right: 200px solid transparent;
}
.th-1{
     background-image: url(/image/banner-1.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
     height: 100vh;
     background-color: #162029;
     opacity: 10;
     background-blend-mode: overlay;
}
.carousel-item{
     background-size: cover;
     height: 825px;
     background-color: #27343f;
     opacity: 10;
     background-blend-mode: overlay;
}
.car-caption{
     position: relative;
     top:200px;
     left: 200px;
     z-index: 2;
}
.car-caption p{
     color: #FFFFFF;
     font-family: 'Assistant';
     font-style: normal;
     font-weight: 600;
     font-size: 21px;
     line-height: 27px;
     letter-spacing: 0.68em;
     text-transform: uppercase;

     color: #FFFFFF;
}
.car-caption h5{
     width: 50%;
     font-family: 'Assistant';
     font-style: normal;
     font-weight: 700;
     font-size: 96px;
     line-height: 106px;
     /* or 110% */
     letter-spacing: -0.02em;
     color: #FFFFFF;

}
.get-start{
     position: absolute;
     left: 200px;
     top: 700px;
     background: #FF4917;
     z-index: 1;
}

.get-start .button-nest{
     z-index: 1;
     background: #162029;
}
.about-us{
     padding: 50px;
     display: flex;
     width: 100%;
     justify-content: space-around;
     align-items: center;
}
.about-us p{
     font-family: 'Assistant';
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 29px;

     /* identical to box height */

     color: #FF4917;
}
.about-us .about{
     width: 70%;
}
.about-us h3{
     font-family: 'Assistant';
     font-style: normal;
     font-weight: 700;
     font-size: 50px;
     line-height: 57px;

     /* or 114% */
     letter-spacing: -0.02em;

     color: #14212A;
}
.about-us small{
     font-family: 'Assistant';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 30px;
     /* or 150% */

     color: #616161;
}
.about-us ul{
     color: #FF4917;
     padding: 0px;
     list-style-type: none;
}

.about-us ul li{
     font-family: 'Assistant';
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 25px;
     color: black;
}
.about-us ul li::before
{
     content: '.';
     font-size: 8rem;
     font-weight: bolder;
     color: #FF4917;
}

.company-service{
     width: 100%;
     height: 856px;
     background: #F5F5F5;
     position: static;
}

.company-service  .triangle-4{
     position: relative;
     width: 0; 
     height: 0; 
     border-top: 300px solid rgb(255, 73, 23); 
     border-right: 300px solid transparent;
     
}
.company-service  .triangle-5{
     position: relative;
     width: 0; 
     height: 0; 
     bottom: 300px;
     border-top: 400px solid rgba(255, 73, 23, 0.5); 
     border-right: 400px solid transparent;
}
.company-service .container{
     position: relative;
     bottom: 600px;

}
.company-service .container h3{
     font-family: Assistant;
     font-size: 22px;
     font-weight: 600;
     line-height: 29px;
     letter-spacing: 0em;
     text-align: center;
     

}
.company-service .container h1{
     width: 480px;
     font-family: 'Assistant';
     font-style: normal;
     font-weight: 700;
     font-size: 50px;
     line-height: 57px;

     /* or 114% */
     text-align: center;
     letter-spacing: -0.02em;

     color: #14212A;


}
.company-service .container .service-card img,h4,p{
     margin-top: 10px;
}
.company-service .container .service-card{
     width: 370px;
     height: 366px;
     margin-right: 10px;
     margin-top: 20px;
     padding: 50px;
     background: #FFFFFF;
     box-shadow: 0px 1px 6px rgba(255, 73, 23, 0.1);
}
.company-service .container .service-card:hover{
     border-bottom: 10px solid rgb(255, 73, 23);
     transition: all .3s ease-Out;
}
.company-service .service-bg{
     position: relative;
     left: 70%;
     bottom: 620px;
}
.video-section{
     width: 100%;
     height: 597px;
     background: rgba(22, 32, 41, 0.75);
}

@media all and (transform-3d), (-webkit-transform-3d) { .active.carousel-item-left, .carousel-item-prev:not(.carousel-item-right) { -webkit-transform: translateX(100%); transform: translateX(100%); } .active.carousel-item-right, .carousel-item-next:not(.carousel-item-left) { -webkit-transform: translateX(-100%); transform: translateX(-100%); } }

 